@import '../util';

.Overlay__background {
    @extend %overlay;
    z-index: 100;
    background-color: white;
    opacity: 0.7;
}

.Overlay__content {
    @extend %overlay;
    z-index: 200;
    top: 20%;
    bottom: 20%;
    background-color: white;
    display: flex;

    & > * {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .start {
        cursor: pointer;
    }
}