$scene-width: 1136px;

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App__scene {
  max-height: 720px;  /* The size of the bg image */
  background-image: url('./assets/scene-bg.png');
  background-repeat:no-repeat;
  background-position: top center;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  max-width: $scene-width;
}

.App__header {
  position: absolute;
  margin: 0 auto;
  background: transparent;
  background-image: url('./assets/battle-generator-title.png');
  background-repeat: no-repeat;
  background-position: top center;
  top: 2%;
  min-height: 15%;
  width: 100%;
}

.App__battle {
  display: flex;
  flex-direction: row;
  max-width: $scene-width;
  height: 60%;
  justify-content: center;
  align-items: flex-start;
}

.App__dice {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60%;
}

.App__attack {
  position: absolute;
  margin: auto;
  bottom: 5%;
}

.App__attack img {
  width: 80%;
  cursor: pointer;

  &--disabled {
    opacity: 0.8;
  }
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.Dice__d {
  /* width: 25%;
  height: 25%; */
  position: relative;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background-size: 100%;
}

.d1 {
  background-image: url(./assets/dice1.png);
}
.d2 {
  background-image: url(./assets/dice2.png);
}
.d3 {
  background-image: url(./assets/dice3.png);
}
.d4 {
  background-image: url(./assets/dice4.png);
}
.d5 {
  background-image: url(./assets/dice5.png);
}
.d6 {
  background-image: url(./assets/dice6.png);
}

.character {
  position: relative;
}

.character__pic {
  width: 30%;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}
